<div class="card1">
    <div class="notification">
        <div class="status-dot"></div>
        <div class="content">
            <div class="circle">
                <img src="https://e7.pngegg.com/pngimages/56/219/png-clipart-guy-fawkes-mask-illustration-guy-fawkes-mask-anonymous-anonymous-mask-face-people.png" alt="Immagine persona">
            </div>
            <div class="message-container">
                <p class="sender">Mittente</p>
                <p class="recipient">Destinatario</p>
                <p class="date">Data di creazione</p>
                <p class="message">Testo del messaggio</p>
            </div>
           
        </div>
        <div class="buttonCard d-flex">
            <button class="btn btnaccepted btn-success">V</button>
            <button class="btn btn-danger">X</button>
        </div>
      </div>
      
      
</div>