<form class="input-form ">
    <div class="form-group">
      <label for="message">Testo</label>
      <textarea id="message" name="message" rows="4" placeholder="Inserisci il testo del messaggio" #testo></textarea>
    </div>
    <div class="form-group">
      <label for="sender">Mittente</label>
      <input type="number" id="sender" name="sender" placeholder="Inserisci il mittente" min="0" #mittente>
    </div>
    <div class="form-group">
      <label for="recipient">Destinatario</label>
      <input type="number" id="recipient" name="recipient" placeholder="Inserisci il destinatario" min="0" #destinatario>
    </div>
    <button type="button"  (click)="aggiungiNotifica()">Invia</button>
</form>
  