<app-notification-form  class="formStyle" *ngIf="visible"></app-notification-form>
<div class="container">
  
  <app-navbar (idEmitter)="receiveId($event)" (visibilityEmitter)="receiveVisibility($event)"></app-navbar>
  <div class="flex-wrap d-flex justify-content-between">
      <app-notification-pending [idDestinatario]="idDestinatario" [show]="'pending'"></app-notification-pending>
      <app-notification-pending [idDestinatario]="idDestinatario" [show]="'accepted'"></app-notification-pending>
      <app-notification-pending [idDestinatario]="idDestinatario" [show]="'denied'"></app-notification-pending>
     
    </div>
  
</div>

